.button {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    background-color: #151515;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s ease-in-out;


    


    i {
        background: #e0e0e0;
        padding: 5px;
        border-radius: 2px;
        display: flex;
    }

    p {
        color: #e0e0e0;
        font-weight: 900;
    }
}



.button:hover {
    transform: scale(1.05);
}